.content {
    padding-left: 240px;
}

.text-justify {
    text-align: justify;
}

/*
*       Menu de gauche
*/

div#menu {
    margin-top: 10rem;
    background-color: white !important;
    text-align: left;
}

.categorie-title, .periode-title {
    font-size: 2rem;
    padding-left: 5px;
    border-right: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    margin: 0 !important;
}

.periode-title {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    padding-top: 0.6rem;
}

.border-top {
    border-top: 1px solid #e0e0e0 !important;
}

.sections, .periode-subtitle {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-right: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
}

.categorie-title:hover, .sections:hover {

}

.bleu {
    background-color: rgb(21, 102, 173) !important;
}

.bleu-text {
    color: rgb(21, 102, 173) !important;
}

.vert {
    background-color: rgb(139, 184, 88) !important;
}

.vert-text {
    color: rgb(139, 184, 88) !important;
}

/**
** Style du livret
**/

.categories > h1, h1.quinzaineTitle {
    position: absolute;
    width: 58%;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
}

.section-title {
    position: absolute;
    width: 58%;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-top: -4rem;
}

.item-title {
    color: white;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    font-size: 16px;
    font-style: italic;
}

.livret-section {
    overflow-y: visible;
}

img.fond-title {
    margin-top: 4rem;
}

.border {
    border: 3px solid rgb(178, 178, 178);
    outline: 1px solid rgb(178, 178, 178);
    outline-offset: 1px;

    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    -moz-outline-radius: 3rem;

    padding: 0 5px 0 1rem;
}

.text {
    width: 1%;
    white-space: nowrap;
}

.aRemplir {

}

.item-tableau > tr:not(:last-child) > td {
    border: 0;
    border-bottom: 1px solid rgb(178, 178, 178);
}

/**
** Page quinzaine
*/
.ajouterQuinzaine {
    margin: -1rem 0.3rem 1rem;
}

legend {
    font-size: 2rem;
}

#ddf, #dff, #dde, #dfe {
    width: auto !important;
    margin-left: 3%;
    text-align: center;

}

.picker__clear {
    padding: 0 5px 0 5px;
}

.rowQuinzaine {
    margin-top: 1rem;
}

.signature-title {
    font-weight: bold;
}

.tableQuinzaine {
    margin-top: 1rem;
}

.tableQuinzaine > thead,
.tableQuinzaine > tbody:not(.separator) {
    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: 0.2rem;
}

.tableQuinzaine > thead > tr > th,
.tableQuinzaine > tbody:not(.separator) > tr > td {
    border: 1px solid black;
    text-align: center;
}

tbody.separator > tr {
    height: 40px;
}

.tooltipped {
    cursor: pointer;
}

.size25 {
    width: 25%;
}

.siz75 {
    width: 75%;
}

.competence-tableau {
    margin-top: 2rem !important;
}

.entete {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.listApprenti {
    margin-top: 3rem !important;
    padding-top: 2rem !important;
}

.img-signature {
    max-width: 100px;
}

#formFile {
    margin-bottom: 5rem !important;
}

.button-collapse {
    padding-right: 1rem;
}

ul.side-nav > li > a {
    color: black !important;
}

@media only screen and (max-width: 992px) {
    .side-nav.fixed {
        left: 0px;
    }

}

.addLine-formation, .addLine-entreprise {
    position: absolute;
    margin-top: 16rem;
    margin-left: -4rem;
}

.competence-element {
    cursor: pointer;
}

.competence-selected {
    background-color: rgba(222, 255, 0, 0.35) !important;
}

.element-checkable > .checkable {
    cursor: pointer;
}

.checked {
    background-color: rgb(21, 102, 173) !important;
    -moz-transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}

/*.even > .checked {*/
/*background-color: rgb(139, 184, 88) !important;*/
/*-moz-transition: background-color 300ms ease-in;*/
/*-webkit-transition: background-color 300ms ease-in;*/
/*}*/

#tableauCroiseCompetence {
    /*position: absolute;*/
    /*top: 64px;*/
    /*left: 240px;*/
    /*width: calc(100% - 240px);*/
}

#tableauCroiseCompetence > thead > tr > th {
    /*padding: 0;*/
    /*display: inline-flex;*/
    /*width: 40px;*/
    /*-webkit-transform: rotate(270deg);*/
    /*-moz-transform: rotate(270deg);*/
    /*-o-transform: rotate(270deg);*/
}

.checked-comp {
    color: black;
    width:100%;
    height:10px;
    text-align: center;
}