<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('./assets/img/Logo.png') }}" />
        <title>{% block title %}Livret de suivi ASI{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('./assets/css/materialize.min.css') }}" />
        {% endblock %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>  
        {% block body %}

        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript" src="./assets/js/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="./assets/js/materialize.min.js"></script>
        {% endblock %}
    </body>
</html>
