{% extends 'LivretBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Aide du site</h1>
        <ul>
            <li>
                <p>Aide à la navigation</p>
                <a href="{{ path("livret_aide_navigation") }}">Aide Navigation</a><br/><br/>
            </li>
            <li>
                <p>Aide pour les tuteurs</p>
                <a href="{{ path("livret_aideConsultTuteur") }}">Aide consultation et remplissage du livret pour les tuteurs</a><br/><br/>
            </li>
            <li>
                <p>Aide pour les apprentis</p>
                <a href="{{ path("livret_aideConsult") }}">Aide consultation et remplissage du livret pour les apprentis</a><br/><br/>
            </li>
        </ul>
    </div>
{% endblock %}
