{% extends 'LivretBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Aide du site</h1>
        <p>Vous avez besoin d'aide ? Normal, vous êtes des noobs!! :)</p><br/>
        <a href="{{ path("livret_aideConsult") }}">Aide consultation</a>
    </div>
{% endblock %}