{% extends 'LivretBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <h3 align="center">Mentions Légales</h3><br>
        

        <p align="center">
            <strong>Lycée Privé Polyvalent Pasteur Mt Roland Enseignement Supérieur</strong><br>
            40 rue du gouvernement - 39100 DOLE<br>
            Tél :03-84-79-75-00       fax :03-84-72-76-05<br>
        </p>

        <p align="center">    
            <strong>Direction Départementale du Travail, de l'Emploi et de la Formation Professionnelle du Jura</strong><br>
            165 avenue Paul Seguin - BP 372<br>
            39016 Lons-le-Saunier CEDEX<br>
            Inspecteur :<br>
        </p>

        <p align="center">
            <strong>Service académique d’inspection de l’apprentissage</strong><br>
            Mme. Caroline Denoix<br>
            Tél : 03 81 65 74 52
        </p>
    </div>
{% endblock %}