{% extends 'LivretBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <h3 align="center">Mentions Légales</h3><br>
        
        <p align="center">
        Le client détiendra la propriété intellectuelle du logiciel, 
        c’est-à-dire le copyright et les droits d’exploitation. 
        L’équipe de développement conservera la propriété des compétences développées au cours du projet, 
        et à ce titre, un accès au code source du logiciel. Toutefois, 
        aucune commercialisation ne pourra être effectuée à partir de ces sources.
        </p><br>
        
        <p align="center">
            Lycée Privé Polyvalent Pasteur Mt Roland Enseignement Supérieur<br>
            40 rue du gouvernement - 39100 DOLE<br>
            Tél :03-84-79-75-00       fax :03-84-72-76-05<br>
        </p>

        <p align="center">    
            Direction Départementale du Travail, de l'Emploi et de la Formation Professionnelle du Jura<br>
            165 avenue Paul Seguin - BP 372<br>
            39016 Lons-le-Saunier CEDEX<br>
            Inspecteur :<br>
        </p>

        <p align="center">
            Service académique d’inspection de l’apprentissage<br>
            Mme. Caroline Denoix<br>
            Tél : 03 81 65 74 52
        </p>
    </div>
{% endblock %}